<div class="cart__list">
  <h2 class="cart__list-title">Cart List</h2>
  <div class="cart__list_container" *ngIf="carts.length !== 0; else emptyCart">
      <app-cart-item appHighlight
        *ngFor="let cart of carts; trackBy: onTrackCart" [cart] = 'cart'
        (quantityIncrease)="onQuantityIncrease($event)"
        (quantityDecrease)="onQuantityDecrease($event)"
        (deleteItem)="onDeleteItem($event)"
      ></app-cart-item>
  </div>
  <div class="cart__list-total">
      <span>Total price : {{totalCost}} </span>
      <span>Quantity : {{totalQuantity}}</span>
  </div>
  <ng-template  #emptyCart >
    <p class="cart__list-empty">The cart is empty!</p>
  </ng-template>
</div>
