.cart__list{

  &-title{
    text-align: center;
    text-transform: uppercase;
    color: blueviolet;
  }

  &_container{
    display: flex;
    flex-direction: column;
  }

  &-empty{
    text-align: center;
    font-size: 20px;
  }

  &-sorter{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
